body{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
.navbar-container .buscador form button{
  background-color: transparent;
  color: #2C272E;
  border: none;
}
.navbar-container .buscador form input{
  border: none;
}
nav .navbar-header{
  justify-content: center;
}

nav .navbar-container{
  display: flex;
}
nav .navbar-container .navbar-item{
  list-style: none;
}
nav .navbar-container .navbar-item a{
  text-decoration: none;
  color: #2C272E;
  padding: 10px;
}
header .logo a {
  text-decoration: none;
  color: #2C272E;
  font-size: 30px;
}
header .logo{
  text-align: center;
  padding: 25px;
}

/* body */
.portada {
    width: 100%;
    height: 750px;
    object-fit: cover;
  }
  
main{
  width: 100%;
  height: 750px;
}

article .flotar .link{
  font-size: 2.5rem;
}
article .flotar .link i{
  padding: 10px 0px 0px 90px;
}
.link{
  display: flex;
  flex-direction: column;
}
article .flotar .chat{
  display: flex;
  background-color: white;
  padding: 6px;
  margin: 150px 15px 0px 0px;
  border: 1px solid black;

}
.chat a{
  text-decoration: none;
  color: #2C272E;
  padding: 9px;
}
.chat img{
  width: 16px;
  background-color: white;
  padding: 10px;

}
.flotar{
  display: flex;
  flex-direction: column;
}

.contenedor{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}
.item{
  text-align: center;
  color: #2C272E;
}
.item h3{
  border: 1px solid black;
  padding: 5px;
} 
.titulo{
  text-align: center;
  font-size: 30px;
  padding: 20px;
  color: #2C272E;
}
.boton{
  text-align: center;
  padding: 10px;
}
.boton a{
  text-decoration: none;
  color: white;
  background-color: #2C272E;
  padding: 10px 30px;
}

/* footer */
footer h2{
  text-align: center;
  color: #2C272E;
}
footer div img{
  width: 30px;
}
footer .footer__section{
  display: flex;
}
footer .footer__tres{
  display: flex;
  margin: auto;
}
footer .footer__section .footer__tres .imgfoter{
  padding: 0px 20px;
}
.email{
    display: flex;
    justify-content: center;
  }
footer .email input .formulario{
    padding: 30px 0px 0px 0px ;
    text-align: center;
  }
footer .email input{
    padding: 10px 0px 0px 0px;
    border: none;
    text-align: center;
  }
footer h5{
  text-align: center;
  color: #2C272E;
}
footer .footer__section .imgfoter i{
  padding: 10px;
}

.navbar-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.navbar-menu-mobile {
  color: #2C272E;
  border: 1px solid #FFFFFF;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-decoration: none;
}

.navbar-container {
  position: absolute;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease; 
  margin: 0px;
  padding: 0px;
}

nav .navbar-container .navbar-item{
  padding: 10px 0px;
}

.navbar-link {
  font-size: 1.5rem; 
}

#navbar-header:target .navbar-container {
  height: 300px; 
}

#navbar-header:target .open {
  display: none; 
}

#navbar-header:target .close {
  display: flex; 
}

.close {
  display: none; 
}


@media  (min-width: 1000px){
  nav .navbar-container{
    padding: 0px 0px 0px 350px;
  }
}

@media (min-width: 900px) {
  .navbar-menu-mobile {
    display: none; 
  }
  nav .navbar-container {
    height: auto;
    flex-direction: row;
    position: static;
    width: 60%; 
  } 
}
